RewriteEngine On

RewriteRule ^open1/?$ open1.php [L]

<FilesMatch "^(iot_yandex_token\.json)$">
    Require all denied
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
